.section-about {
    display: flex;
    margin: 0 auto;
}

.container-about {
    display: flex;
    margin: 8rem auto;
    gap: 5rem;
    align-items: center;
    width: 75%;
}


.about-info h2 {
    margin-bottom: 1rem;  
    font-size: 1.5rem;  
}

.about-info p {
    margin-bottom: 1.5rem;
}

.about-img img {
    border-radius: 4px;
}