.section-about {
    display: flex;
    margin: 0 auto;
}

.container-about {
    display: flex;
    margin: 8rem auto;
    gap: 5rem;
    align-items: center;
    width: 75%;
}


.about-info h2 {
    margin-bottom: 1rem;  
    font-size: 1.5rem;  
}

.about-info p {
    margin-bottom: 1.5rem;
}

.about-img img {
    border-radius: 4px;
}



@media (max-width: 768px) {

    .container-about {
        flex-direction: column;
        margin: 4rem auto;
        gap: 3rem;
    }

    .about-info {
        order: 2;
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .about-img {
        display: flex;
    }


    .about-img img {
        order: 1;
        width: 100%;
        justify-content: center;
        display: flex;
        margin: 0 auto;
        
    }


}




@media (min-width: 768px) and (max-width: 1024px) {

    .container-about {
        display: flex;
        width: 75%;
        margin: 6rem auto;
        flex-direction: column;
        gap: 4rem;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        order: 2;
    }

   


}