.btn-primary {
    background-color: #fff;
    border: 1px solid var(--first-color);
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    color: var(--first-color);
    margin: 1rem 0;
    text-align: center;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--first-color);
}