.btn-primary {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.submit-message {
    font-weight: bold;
}

input {
    padding: 10px;
}

.error-message {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

