.section-hero {
    display: flex;
    margin: 7rem auto 0;
}

.container-hero {
    display: flex;
    margin: 0 auto;
    gap: 5rem;
    align-items: center;
    width: 75%;
}


.info h1 {
    margin-bottom: 0.2rem;  
    font-size: 3rem; 
    font-family: var(--second-font-family); 
}


.info .description {
    font-size: 1.5rem;
}

.hero-img {
    width: 70rem;
    height: 20rem;
    border-radius: 4px;
    background-image: url("../assets/img-fondo-hero1.svg");
    background-repeat: no-repeat;
}

.hero-img img {
    width: 20rem;
}



@media (max-width: 992px) {

    .container-hero {
        flex-direction: column;
        width: 75%;
        justify-content: center;
        gap: 2rem;
    }

    .hero-img {
        display: flex;
        margin: 0 auto;
        width: auto;
    }

    .info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .info h1 {
        font-size: 2.5rem;
    }

    .info .description {
        margin-bottom: 2rem;
    }
}



@media (max-width: 768px) {

    .container-hero {
        flex-direction: column;
        width: 75%;
        justify-content: center;
        gap: 2rem;
    }

    .info {
        order: 2;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .info h1 {
        font-size: 2rem;
        margin: 0 auto;
    }

    .info .description {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-align: center;
    }





}
