.navbar { /*Barra de navegación*/
    background-color: var(--second-color);
    display: flex;
    height: 90px;
    justify-content: center;
    transition: background-color 0.3s ease; 
    z-index: 10000;
}

.navbar-menu { /*Contenedor items barra de navegación*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 85%;
}

.menu-options { /*Items barra de navegación*/
    display: flex;
    gap: 1.5rem;
    font-size: 0.9rem;
}

.menu-options .menu-option-item:hover { /*Items:hover barra de navegación*/
  font-weight: bold;
}

.menu-icons { /*Iconos barra de navegación*/
    display: flex;
    gap: 1.5rem;
    font-size: 1.1rem;
}

.menu-icons a:hover { /*Iconos:hover barra de navegación*/
  color: var(--first-color);
}

li { 
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: var(--font-color);
    font-family: 'Public Sans', sans-serif;
}

nav.scrolled { /*Barra de navegación al hacer scroll*/
    background-color: #fff; 
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
  }

.navbar.scrolled .menu-options a.scrolled-link,
.navbar.scrolled .menu-icons a.scrolled-link { /*Color items/iconos barra de navegación al hacer scroll*/
    color: #000;
}

.navbar.scrolled .menu-options a.scrolled-link:hover,
.navbar.scrolled .menu-icons a.scrolled-link:hover { /*Color items/iconos:hover barra de navegación al hacer scroll*/
    color: var(--first-color);
}

.menu-toggle {
    display: none;
}

.active { /*Link activo*/
  font-weight: bold;
}



@media (max-width: 768px) {
    .menu-toggle { /*Botón hamburguesa*/
        display: block;
        cursor: pointer;
        border: none;
        background-color: transparent;
        margin-left: 2rem;
    }

    .menu-toggle .bar { /*Líneas botón hamburguesa*/
        background-color: var(--font-color);
        height: 2px;
        width: 25px;
        margin: 6px 0;
        transition: 0.4s;
      }
    
      .open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: var(--first-color);
      }
    
      .open .bar:nth-child(2) {
        opacity: 0;
      }
    
      .open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
        background-color: var(--first-color);
      }

      .navbar-menu {
        display: none; /* Oculta el menú en pantallas pequeñas */
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1;
        color: #000;
      }
    
      .navbar-menu.open {
        display: flex; /* Muestra el menú cuando se abre */
        width: 100%;
        height: 30vh;
        background-color: #fff;
        margin-top: 1.5rem;
      }

      .menu-options {
        flex-direction: column;
        margin: 0 2rem;
      }

      li a {
        color: var(--font-first-color);
      }

      .menu-icons { /*Ocultar iconos*/
        display: none;
      }

      .menu-clicked { /*Barra de navegación clickeada*/
        background-color: #fff;
      }

      .navbar-menu.open.scrolled-menu-open { /*Sombra barra de navegación al hacer scroll*/
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      }

      .navbar.no-box-shadow { /*Barra de navegación sin sombra*/
        box-shadow: none;
      }
    }



    @media (min-width: 768px) and (max-width: 1024px) {
        .menu-toggle {
            display: block;
            cursor: pointer;
            border: none;
            background-color: transparent;
            margin-left: 2rem;
        }
    
        .menu-toggle .bar {
            background-color: #fff;
            height: 2px;
            width: 25px;
            margin: 6px 0;
            transition: 0.4s;
          }
    
          .scrolled .menu-toggle .bar {
            background-color: #000; /* Cambia esto al color deseado */
          }
        
          .open .bar:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 6px);
            background-color: var(--first-color);
          }
        
          .open .bar:nth-child(2) {
            opacity: 0;
          }
        
          .open .bar:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -6px);
            background-color: var(--first-color);
          }
    
          
        
          .navbar-menu {
            display: none; /* Oculta el menú en pantallas pequeñas */
            flex-direction: column;
            position: absolute;
            background-color: #fff;
            top: 60px;
            left: 0;
            right: 0;
            z-index: 1;
            color: #000;
          }
        
          .navbar-menu.open {
            display: flex; /* Muestra el menú cuando se abre */
            width: 100%;
            height: 30vh;
            background-color: #fff;
            margin-top: 1.5rem;
          }
    
          .menu-options {
            flex-direction: column;
            margin: 0 2rem;
          }
    
          li a {
            color: #000;
          }
    
          .menu-icons {
            display: none;
          }
    
          .menu-clicked {
            background-color: #fff;
          }
    
          .navbar-menu.open.scrolled-menu-open {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          }
    
          .navbar.no-box-shadow {
            box-shadow: none;
          }
        }
    
    


