.container-portfolio {
    display: flex;
    flex-direction: row; /* Alinea los proyectos horizontalmente */
    justify-content: space-around; /* Espacio uniforme entre proyectos */
    width: 75%;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.container-project {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.img-project {
    width: 18rem;
    border-radius: 4px;
}

.description-portfolio {
    margin: 6rem auto 2rem;
}