.container-project-detail {
    display: flex;
    width: 75%;
    margin: 8rem auto 1.5rem;
    justify-content: space-between;
}

.container-project-detail-2 {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.img-project-detail {
    width: 50%;
}

.img-project-detail img {
    max-width: 100%;
}

.description-project {
    width: 45%;
}

.link-see-project {
    text-decoration: none;
    color: var(--first-color);
}

.link-see-project:hover {
    color: #fff;
}

.project-type {
    margin-bottom: 3rem;
}

.btn-primary {
    background-color: var(--first-color);
    color: #fff;
    margin: 2rem auto 4rem;
    width: 9rem;
    text-decoration: none;
}

.technologies {
    font-weight: bold;
}

.link-github {
    font-weight: bold;
    color: var(--font-color);
    text-decoration: none;
}




@media (max-width: 768px) {
    .container-project-detail {
        flex-direction: column;
        margin: 4rem auto 0;
    }

    .img-project-detail {
        width: 100%;
    }

    .description-project {
        width: 100%;
        margin: 2rem auto;
    }

}