.section-skills {
    display: flex;
}

.container-skills {
    width: 75%;
    margin: 8rem auto;
}

.container-skills h2 {
    margin-bottom: 1rem;  
    font-size: 1.5rem; 
}

.skills {
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}

.skills div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills div .bi {
    font-size: 3rem;
    color: var(--first-color);
}

.skills div div {
    background-color: #fff;
    width: 3rem;
    display: flex;
    margin: 0 auto 0.5rem;
    border-radius: 4px;
}

.skills h3 {
    font-size: 1.2rem;
    margin: 1rem 0;
}


@media (max-width: 768px) {
    .container-skills {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 4rem auto;
    }

    .skills {
        flex-direction: column;
        gap: 4rem;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {
    .container-skills {
        margin: 6rem auto;
    }

}